<a href="https://colab.research.google.com/github/Zaheer-Aswath/DataScience-Python/blob/main/Edureka/mohammed_zaheer_day13_diy_solution_doc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1. Problem Statement: Combining DataFrames - I**

Write a Python program with two DataFrames, with columns “name” and “age”. Now, combine both the DataFrames vertically using the concat() function, without the duplicate rows, and print the final DataFrame.

**Input Format:** You do not need to read any input in this problem.

In [ ]:
import pandas as pd
df1 = pd.DataFrame((['Shubham',23],['Adin',28],['Rahul',30]),columns=["Name", "Age"])
df2 = pd.DataFrame((['Amrit',20],['Shubham',23],['Ali',28]),columns=["Name", "Age"])
print("DataFrames Created:")
print(df1)
print("DataFrames Created:")
print(df2)
df3=pd.concat([df1,df2])

#removing duplicates --> DataFrame.drop_duplicates()
#df3.drop_duplicates() --> if printed we get index as per df1 and df2

#so for restting index --> DataFrame.reset_index(drop=True) if we give false then old index also reflected in output

df3.drop_duplicates().reset_index(drop=True)

DataFrames Created
      Name  Age
0  Shubham   23
1     Adin   28
2    Rahul   30
DataFrames Created
      Name  Age
0    Amrit   20
1  Shubham   23
2      Ali   28

      Name  Age
0  Shubham   23
1     Adin   28
2    Rahul   30
3    Amrit   20
4      Ali   28

**Q2. Problem Statement: Combining DataFrames - II**

Write a Python program to create two DataFrames. First DataFrame with columns “employee” and “department,” Second DataFrame with columns “employee” and “joining_date,” and Perform the following tasks: 1. Merge the DataFrames based on the “employee” column 2. Display the final DataFrame with employees records who are working in the “Engineering” department

**Input Format:** You do not need to read any input in this problem.

In [ ]:
import pandas as pd
df1 = pd.DataFrame((['Lisa',2004],['Bob',2008],['Jake',2012],['Sue',2022],['John',2021],['Daisy',2020]),columns=["employee", "joining_date"])
df2 = pd.DataFrame((['Bob','Accounting'],['Jake','Engineering'],['Lisa','Engineering'],['Sue','HR'],['John','Engineering'],['Daisy','Engineering']),columns=["employee", "department"])
print("DataFrames Created:")
print(df1)
print("\n\nDataFrames Created:")
print(df2)
df4 = pd.merge(df2,df1, on="employee")
print("\n\nMerge the DataFrames based on the “employee” column:")
print(df4)
df5 = df4[df4['department'].isin(['Engineering'])]
print("\n\nDisplay the final DataFrame with employees from the “Engineering” department:")
print(df5)

DataFrames Created:
  employee  joining_date
0     Lisa          2004
1      Bob          2008
2     Jake          2012
3      Sue          2022
4     John          2021
5    Daisy          2020


DataFrames Created:
  employee   department
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
4     John  Engineering
5    Daisy  Engineering


Merge the DataFrames based on the “employee” column:
  employee   department  joining_date
0      Bob   Accounting          2008
1     Jake  Engineering          2012
2     Lisa  Engineering          2004
3      Sue           HR          2022
4     John  Engineering          2021
5    Daisy  Engineering          2020


Display the final DataFrame with employees from the “Engineering” department:
  employee   department  joining_date
1     Jake  Engineering          2012
2     Lisa  Engineering          2004
4     John  Engineering          2021
5    Daisy  Engineering          2020